<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Home page</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Monda:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link rel="stylesheet" media = "screen"  href="/static/css/responsive.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" />
		<!--[if IE]>
		<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header id="header">
			<div class="container">
				<a href="index.html" class="logo">
					<h3>LOGO</h3>
				<!-- <img src="images/logo.png" alt=""> -->
				</a>
				<nav class="navbar">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/action">Take Action</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- #header -->
		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2>Categories menu</h2>
						<ul class="categories-menu">
							<li><a href="blog.html">Photography</a></li>
							<li><a href="blog.html">Typography</a></li>
							<li><a href="blog.html">Design</a></li>
							<li><a href="blog.html">Branding</a></li>
							<li><a href="blog.html">Logo</a></li>
							<li><a href="blog.html">Other items</a></li>
						</ul>
					</div>
					<div class="col-md-8">
						<h2>Post</h2>
						<div class="img image-post">
							<img src="http://placehold.it/750x300" alt="">
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat odio sed massa molestie, nec luctus lacus venenatis. In hac habitasse platea dictumst. Sed at sapien id enim interdum volutpat. Sed tempor eros urna, condimentum maximus dolor pellentesque sit amet. Fusce molestie pretium odio, nec semper ex varius sit amet. Etiam vitae ultricies orci. In hac habitasse platea dictumst. Quisque ac mauris sit amet quam elementum volutpat. Cras ac facilisis urna.</p>
						<p>Nunc fringilla elementum odio, eu congue risus mattis a. Curabitur vel arcu vitae ex pulvinar malesuada et eu lorem. Integer efficitur lectus eu auctor laoreet. Maecenas consectetur tincidunt augue, a aliquam nulla tristique eu. In aliquet quam vel orci varius mattis. Curabitur mauris felis, sodales lobortis risus finibus, suscipit lacinia urna. Maecenas hendrerit velit nec dapibus fermentum. In cursus elementum dui. Ut erat erat, tempor eget pharetra in, interdum laoreet odio. Donec sagittis felis nec orci placerat viverra. Cras quis ante dolor. Ut commodo, felis non aliquet pretium, quam lectus feugiat dolor, in lobortis orci justo non magna. Sed vitae ante nec orci egestas ullamcorper.</p>
						<blockquote>Aliquam nec justo quis ante laoreet euismod et sed erat. Aliquam ipsum ipsum, elementum et condimentum et, tincidunt congue nibh. Morbi et justo nisi. Donec suscipit erat id sollicitudin dictum. Etiam pellentesque mauris ac imperdiet hendrerit. </blockquote>
						<p>Vestibulum eget rhoncus massa. Suspendisse a urna tortor. Vestibulum mattis justo nibh, eget sagittis elit gravida vel. Vestibulum aliquam libero vel nisi elementum lacinia. Praesent porta dignissim quam, vitae faucibus augue imperdiet in. Mauris at mi interdum, rutrum dui vel, euismod odio. Mauris tincidunt maximus nibh quis semper. Vivamus aliquam, diam vel luctus aliquet, libero nibh mattis neque, sit amet convallis turpis nisl nec est. Donec venenatis augue sodales eleifend blandit. Vivamus in sodales risus, sit amet ultricies nulla. Sed sed semper augue, ut porttitor turpis. Vivamus vel viverra arcu. Praesent finibus ac mi vel posuere. Proin nec magna vitae lectus bibendum efficitur at vel justo. Nunc egestas libero iaculis neque egestas congue. Ut scelerisque cursus pretium.</p>
						<ul class="social">
							<li><a href="#" class="fb"></a></li>
							<li><a href="#" class="gl"></a></li>
							<li><a href="#" class="tw"></a></li>
							<li><a href="#" class="ins"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- #Blog -->
		<footer id="footer">
			<div class="copyright"> &copy; 2016 Test template site </div>
		</footer>
		<!-- #footer -->
		<script src="/static/js/lib/jquery-3.1.0.min.js"></script>
		<script src="/static/js/lib/bootstrap.min.js"></script>
		<script src="/static/js/lib/swiper.min.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
