<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Pacific Ready Fitness</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Monda:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link rel="stylesheet" media = "screen"  href="/static/css/responsive.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" />
		<!--[if IE]>
		<script src="/static/js/html5.js"></script>
		<![endif]-->
	</head>
	<body class="index-page">
		<header id="header">
			<div class="container">
				<a href="/" class="logo">
					<h3>LOGO</h3>
				<!-- <img src="images/logo.png" alt=""> -->
				</a>
				<nav class="navbar">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="#about">The Story</a></li>
						</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
			<! --<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="caption">
							<h1>Take Action</h1>
						</div>
					</div>
				</div> -->
			<!-- <div class="page-image"></div> -->
		</header>
		<!-- #header -->
		<section id="blog" style="width:800px; margin:0 auto;">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2></h2>
						<article class="article">
							<div class="img">
								<img src="//static.pexels.com/photos/4171/nature-sunny-man-person.jpeg" alt="">
							</div>
							<a href="#"><center><h4>One on One Personal Training</h4></center></a>
							<p>Get a personalized program to fit your needs.  You will get accountability, one-on-one coaching with fitness and nutrition, and -most of all- motivation.  Find fun with your fitness and get motivated.</p>
							<div class="time"><span><b>$75.00</b></span></div>
						</article>
						<article class="article">
							<div class="img">
								<img src="//static.pexels.com/photos/7778/pexels-photo-7778.jpg" alt="">
							</div>
							<a href="#"><center><h4>Train with a Friend or Companion</h4></center></a>
							<p>Get fit with your friend or spouse!  Work together on each other's fitness goals with your a customized plan tailored to each others needs.   Have a challenge with your partner to help achieve your goals or get the extra encouragement and accountability.</p>
							<div class="time"><span><b>$95.00</b></span></div>
						</article>
						<article class="article">
							<div class="img">
								<img src="//static.pexels.com/photos/29578/pexels-photo.jpg" alt="">
							</div>
							<a href="#"><center><h4>Corporate Fitness class</h4></center></a>
							<p>Get your employees moving with fitness.  If you have an onsite gym, a nearby park, or an open office space; we can make it work! Studies have shown that a fitness class breaks from confining work norms. Fitness class can increase productivity, relieve stress, and encourage team building.</p>
							<div class="time"><span><b>Contact for price quote</b></span></div>
						</article>
                                                <article class="article">
                                                        <div class="img">
                                                                <img src="//static.pexels.com/photos/295058/pexels-photo-295058.jpeg" alt="">
                                                        </div>
                                                        <a href="#"><center><h4>Online Training</h4></center></a>
                                                        <p>Don't have time to get to a gym? Easily access the Pacific Reay Fitness catalog of videos so you can exercise in the comfort of your own home.</p>
                                                        <div class="time"><span><b>Coming Soon</b></span></div>
                                                </article>
					</div>
				</div>
			</div>
		</section>
		<!-- #Blog -->
		<footer id="footer">
			<div class="copyright"> &copy; 2016 Pacific Ready Fitness </div>
		</footer>
		<!-- #footer -->
		<script src="/static/js/lib/jquery-3.1.0.min.js"></script>
		<script src="/static/js/lib/bootstrap.min.js"></script>
		<script src="/static/js/lib/swiper.min.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
