<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Pacific Ready Fitness</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Monda:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<link rel="stylesheet" media = "screen"  href="/static/css/responsive.css" />
		<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" />
		<!--[if IE]>
		<script src="/static/js/html5.js"></script>
		<![endif]-->
	</head>
	<body class="index-page">
		<header id="header">
			<div class="container">
				<a href="index.html" class="logo">
					<h3>LOGO</h3>
				<!-- <img src="images/logo.png" alt=""> -->
				</a>
				<nav class="navbar">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#about">The Story</a></li>
							<li><a href="/action">Take Action</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- #header -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="caption">
						<h1>Be Ready</h1>
						<p>Taking steps towards personal excellence, education, and empowerment!</p>
						<a href="/action" class="btn">Start Now!</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="caption">
						<h1>Be Courageous</h1>
						<p>Taking steps towards personal excellence, education, and empowerment!</p>
						<a href="/action" class="btn">Start Now!</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="caption">
						<h1>Be Committed</h1>
						<p>Taking steps towards personal excellence, education, and empowerment!</p>
						<a href="/action" class="btn">Start Now!</a>
					</div>
				</div>
                                <div class="swiper-slide">
                                        <div class="caption">
                                                <h1>Be Community</h1>
                                                <p>Taking steps towards personal excellence, education, and empowerment!</p>
                                                <a href="/action" class="btn">Start Now!</a>
                                        </div>
                                </div>

			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<!-- .swiper-container -->
		<div class="happy container">
			<img src="https://static.thumbtack.com/media/widgets/featured-pro.png"></img>
		</div>
		<!-- .happy -->
		<section id="about-us">
			<div class="container">
				<h2>About Holly</h2>
				<div class="col-md-4">
					<div class="person">
					</div>
				</div>
				<div class="col-md-4">
					<div class="person">
						<img src="//static1.squarespace.com/static/55ba498fe4b01221ab10ed98/t/57d6d9dad482e95027016428/1473698540246/?format=750w" alt="" height="500" width="350">
					<p>Hello, my name is Holly and I am  personal trainer and nutritionist servicing the Seattle and surrounding areas.  My passion for fitness started with dancing and sports and since then has grown into a lifestyle.  My philosophy is mentioned in my slogan, "Be Ready For Anything."  If you stay strong and eat healthy, you will be able to do anything that you set your mind, body, and heart to.</p>
						<ul class="social">
							<li><a href="//www.facebook.com/pacificreadyfitness/" class="fb"></a></li>
							<li><a href="//www.instagram.com/pacific_ready_fitness/" class="ins"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- #about-us -->
		<section class="tour">
			<div class="container">
				<div class="tour-article">
					<h3>Fitness Quote</h3>
					<p>Healthy = Happy / ... or another random fitness quote. </p>
				</div>
			</div>
		</section>
		<!-- .tour -->
		<section id="testimonials">
			<div class="container">
				<h2>Testimonials</h2>
				<div class="row">
					<div class="col-md-4">
						<div class="person">
							<div class="avatar">
								<img src="//placehold.it/120x120" alt="">
							</div>
							<div class="name">Alana</div>
							<p> I've always loved being active and enjoyed lifting weights but after I meet Holly a couple years ago she really helped me take control of my fitness regimen. She doesn't just hold me accountable. She's helped me develop a routine that fits with my personal fitness goals, keeps my form in check and has helped me simplify my nutrition and realize some foods where preventing progress when otherwise, I would have just continued eating these items, thinking it was ok.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="person">
							<div class="avatar">
								<img src="//placehold.it/120x120" alt="">
							</div>
							<div class="name">Todd</div>
							<p> I worked with Holly as my trainer for about a year and a half. I would highly recommended sessions with her. I always got a great workout, nutrition advice, coaching and support to achieve my fitness goals. She's super creative and challenged me every time. She helped me set goals and held me accountable to what I wanted to accomplish. I learned a lot and continue to work towards my ultimate goal.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="person">
							<div class="avatar">
								<img src="//placehold.it/120x120" alt="">
							</div>
							<div class="name">Client 3</div>
							<p>I love Pacific Ready Fitness because...</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- #testimonials -->
		<section id="contact">
			<div class="container">
				<div class="contact-form">
					<h3>Contact</h3>
					<div class="input-block phone-form">
						<p>(206)-718-7015</p>
					</div>
					<div class="input-block message-form">
						<p>holly@pacificready.com</p>
					</div>
					<input type="submit" value="Send Message">
				</div>
			</div>
		</section>
		<!-- #contact -->
		<footer id="footer">
			<div class="copyright"> &copy; 2016 Pacific Ready Fitness </div>
		</footer>
		<!-- #footer -->
		<script src="/static/js/lib/jquery-3.1.0.min.js"></script>
		<script src="/static/js/lib/bootstrap.min.js"></script>
		<script src="/static/js/lib/swiper.min.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
